In [6]:
import pandas as pd

In [12]:
import numpy as np

In [24]:
first_dataset = pd.DataFrame(
    {
        'Nombre'        :['Camila','Ernesto','Bastian','Paz'],
        'Edad'          :[25,44,334,31],
        'Color de pelo' :['Castaño','Negro', 'Rubio', 'Pelirrojo'],
        'Hobby'         :['Deporte','Bailar','Bateria','Karate'],
        'Sexo'          :['F','M','M', np.nan]

    }
)

In [25]:
first_dataset

    Nombre  Edad Color de pelo    Hobby Sexo
0   Camila    25       Castaño  Deporte    F
1  Ernesto    44         Negro   Bailar    M
2  Bastian   334         Rubio  Bateria    M
3      Paz    31     Pelirrojo   Karate  NaN

In [14]:
import os
os.getcwd()
'/content'

'/content'

In [15]:
first_import = pd.read_csv("./animeNA.csv", sep=";")
first_import.head(2)

,anime_id,me,genre,type,episodes,rating,members
0,32281,Kimi no wa.,"Drama, Romance, School, Supertural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665

In [19]:
primera_importacion = pd.read_csv("./animeNA.csv", sep=";")
primera_importacion.head(10)

,anime_id,me,genre,type,episodes,rating,members
0,32281,Kimi no wa.,"Drama, Romance, School, Supertural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien re,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109