In [6]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
first_dataset = pd.DataFrame(
    {
        'Nombre'        :['Camila','Ernesto','Bastian','Paz'],
        'Edad'          :[25,44,334,31],
        'Color de pelo' :['Castaño','Negro', 'Rubio', 'Pelirrojo'],
        'Hobby'         :['Deporte','Bailar','Bateria','Karate'],
        'Sexo'          :['F','M','M', np.nan]

    }
)

NameError: name 'pd' is not defined

In [25]:
first_dataset

    Nombre  Edad Color de pelo    Hobby Sexo
0   Camila    25       Castaño  Deporte    F
1  Ernesto    44         Negro   Bailar    M
2  Bastian   334         Rubio  Bateria    M
3      Paz    31     Pelirrojo   Karate  NaN

In [7]:
import os # Importación de libreria, para por ejemplo:
os.getcwd() #Ver en donde estoy

'/Users/eduardoramirez/Library/CloudStorage/OneDrive-INACAP/1. Data Science - SENCE/Codeando-Python'

In [28]:
first_import = pd.read_csv("Base de Datos/animeNA.csv", sep=";")
first_import.head(2)

,anime_id,me,genre,type,episodes,rating,members
0,32281,Kimi no wa.,"Drama, Romance, School, Supertural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665

In [11]:
primera_importacion = pd.read_csv("Base_de_Datos/animeNA.csv", sep=";")
primera_importacion.head(10)

NameError: name 'pd' is not defined