In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
first_dataset = pd.DataFrame(
    {
        'Nombre'        :['Camila','Ernesto','Bastian','Paz'],
        'Edad'          :[25,44,334,31],
        'Color de pelo' :['Castaño','Negro', 'Rubio', 'Pelirrojo'],
        'Hobby'         :['Deporte','Bailar','Bateria','Karate'],
        'Sexo'          :['F','M','M', np.nan]

    }
)

In [4]:
first_dataset

    Nombre  Edad Color de pelo    Hobby Sexo
0   Camila    25       Castaño  Deporte    F
1  Ernesto    44         Negro   Bailar    M
2  Bastian   334         Rubio  Bateria    M
3      Paz    31     Pelirrojo   Karate  NaN

In [5]:
import os # Importación de libreria, para por ejemplo:
os.getcwd() #Ver en donde estoy

'/Users/eduardoramirez/Library/CloudStorage/OneDrive-INACAP/1. Data Science - SENCE/Codeando-Python'

In [6]:
first_import = pd.read_csv("Base_de_Datos/clinica.csv", sep=",")
first_import.head(2)

   xi  ni  Ni    fi  fi(%)    Fi  Fi(%)
0   1   2   2  0.05    5.0  0.05    5.0
1   2   6   8  0.15   15.0  0.20   20.0

In [14]:
first_import = pd.read_csv("./Base_de_Datos/animeNA.csv", sep=";")
first_import.head()

,anime_id,me,genre,type,episodes,rating,members
0,32281,Kimi no wa.,"Drama, Romance, School, Supertural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266