In [1]:
import pandas as pd
import numpy as np

In [2]:
first_import = pd.read_csv("https://raw.githubusercontent.com/sudoagile/Codeando-Python/main/Base_de_Datos/2009_1perc.csv", sep=",")
first_import.head(8)

,Unnamed: 0,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,...,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,178048,2009,41,1779,4032009,130,A,O,P,1.0,...,,41,G,7,,1013067,0238633,CM,1,20
1,498873,2009,108,5805,10292009,1050,A,O,P,3.0,...,,108,J,,,1012043,0212157,CM,1,14
2,463573,2009,43,8340,10062009,1450,1,O,P,1.0,...,,43,E,,,1017599,0240200,CM,1,20
3,43626,2009,77,932,1232009,1843,A,O,P,5.0,...,,77,J,4,35,1002625,0183442,CM,1,24
4,563921,2009,110,11224,12132009,1655,A,O,P,3.0,...,,110,H,,,1024535,0209890,CM,1,20
5,261097,2009,14,5194,5222009,2039,1,I,T,7.0,...,,14,F,16,,0986061,0213320,CM,1,26
6,538417,2009,67,11758,11242009,109,1,O,P,5.0,...,,67,N,,,1004543,0180604,CM,1,20
7,480540,2009,75,27535,10162009,2045,1,I,H,2.0,...,,75,G,,,1016397,0183357,CM,1,31

In [3]:
first_import = pd.read_csv("https://raw.githubusercontent.com/sudoagile/Codeando-Python/main/Base_de_Datos/2010_1perc.csv", sep=",")
first_import.head(8)

,Unnamed: 0,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,...,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,30569,2010,6,487,1192010,1420,1,O,P,2,...,,6,G,,38,983543,208767,CM,1,85
1,416235,2010,42,7138,9042010,225,1,I,T,10,...,,42,E,,,1014172,241737,CM,1,45
2,318345,2010,33,2628,6302010,1240,1,I,T,5,...,,33,B,6,,1000916,245710,CM,1,85
3,541524,2010,108,6384,11172010,2338,1,O,P,3,...,,108,J,,,1012612,212240,CM,1,28
4,113101,2010,14,2295,3072010,2240,1,I,T,5,...,,14,C,7,,987636,212439,CM,1,20
5,27655,2010,110,779,1172010,846,A,O,P,1,...,,110,J,,,1025088,213482,CM,1,20
6,426709,2010,23,11981,9112010,20,1,O,H,1,...,,23,H,,,999898,229313,CM,1,20
7,69832,2010,23,2084,2102010,230,1,O,H,5,...,,23,E,,,999389,228394,CM,1,85