In [3]:
import pandas as pd
import numpy as np

In [4]:
first_import = pd.read_csv("https://raw.githubusercontent.com/sudoagile/Codeando-Python/main/Base_de_Datos/rrhh.csv", sep=",")
first_import.head(8)

,Estado,Edad,Ratio.Pago,Salario,Dias.trabajados,Ausencias,Sexo,Estado.Civil,Departamento,Posicion,Desempeño
0,0,30.0,28.50,4167.066667,3317,1,Female,2,Admin Offices,Accountant I,Fully Meets
1,0,34.0,23.00,6962.466667,1420,17,Male,1,Admin Offices,Accountant I,Fully Meets
2,0,31.0,29.00,4330.333333,1154,3,Male,4,Admin Offices,Accountant I,Fully Meets
3,0,32.0,21.50,4332.733333,58,15,Female,2,Admin Offices,Administrative Assistant,N/A- too early to review
4,0,30.0,16.56,3388.333333,940,2,Female,4,Admin Offices,Administrative Assistant,N/A- too early to review
5,1,30.0,20.50,3837.866667,730,15,Female,2,Admin Offices,Administrative Assistant,Fully Meets
6,0,33.0,55.00,6377.333333,691,19,Male,2,Admin Offices,Shared Services Manager,Fully Meets
7,1,33.0,55.00,3957.666667,1636,19,Male,2,Admin Offices,Shared Services Manager,Fully Meets