In [1]:
import pandas as pd
import numpy as np

In [4]:
first_import = pd.read_csv("https://raw.githubusercontent.com/sudoagile/Codeando-Python/main/Base_de_Datos/gimnasio.csv", sep=",")
first_import.head()

  Dia   calorias   tiempo
0   L        420       60
1   M        380       40
2   X        390       75
3   J        490       55
4   V        300       45