In [1]:
import pandas as pd
import numpy as np

In [2]:
first_import = pd.read_csv("https://raw.githubusercontent.com/sudoagile/Codeando-Python/main/Base_de_Datos/clinica.csv", sep=",")
first_import.head(8)

   xi  ni  Ni     fi  fi(%)     Fi  Fi(%)
0   1   2   2  0.050    5.0  0.050    5.0
1   2   6   8  0.150   15.0  0.200   20.0
2   3  10  18  0.250   25.0  0.450   45.0
3   4   5  23  0.125   12.5  0.575   57.5
4   5  10  33  0.250   25.0  0.825   82.5
5   6   3  36  0.075    7.5  0.900   90.0
6   7   2  38  0.050    5.0  0.950   95.0
7   8   2  40  0.050    5.0  1.000  100.0