In [3]:
import pandas as pd
import numpy as np

In [5]:
first_import = pd.read_csv("https://raw.githubusercontent.com/sudoagile/Codeando-Python/main/Base_de_Datos/ventas.csv", sep=",")
first_import.head(12)

      Xi    Yi     Xi_      Yi_  Xi * Yi
0    189   402   35721    16604    75978
1    190   404   36100   163216    76760
2    208   412   43264   169744    85696
3    227   425   51529   180625    96475
4    239   429   57121   184041   102531
5    252   436   63504   190096   109872
6    257   440   66049   193600   113080
7    274   447   75076   199809   122478
8    293   458   85849   209764   134194
9    308   469   94864   219961   144452
10   316   469   99856   219961   148204
11  2753  4791  708933  2092421  1209720